#!/bin/bash

role=${role};

if [ "\$role" != "host" -a "\$role" != "guest" ]
then
  echo "\$0 host|guest"
  exit 1;
fi
export PATH=$PATH:/usr/sbin:/usr/bin:/bin
cd ${pbase}/install;
for name in tools-install base-install java-install python-install eggroll-install fate-install;
do
  echo "+++++++++++++++deploy \$name +++++++++++++++"
  bash \${name}/deploy.sh \$role
  echo "+++++++++++++++++++++++++++++++++++++++++++"
done

ps aux|grep -v grep | grep 'mysql-install/deploy.sh'
num=\$( ps aux|grep -v grep | grep -c 'mysql-install/deploy.sh' )
while [ \$num -ne 0 ]
do
  ps aux|grep -v grep | grep 'mysql-install/deploy.sh'
  num=\$( ps aux|grep -v grep | grep -c 'mysql-install/deploy.sh' )
  echo "sleep 2"
  sleep 2
done

source ${pbase}/${pname}/bin/init_env.sh
echo "restart fate_flow"
cd ${pbase}/${pname}/fate_flow/bin
/bin/bash ./service.sh restart
echo "restart eggroll"
cd ${pbase}/${pname}/eggroll/bin
/bin/bash ./eggroll.sh all restart
#mkdir -p "${pbase}/${pname}/fate_llm/python"
#mv "${pbase}/${pname}/${pname}/python/fate_llm" "${pbase}/${pname}/fate_llm/python"

echo "sleep 30"
sleep 30
#echo "upload test data"
#fate_test data upload -t min_test -y

echo "clean ${pbase}/install"
rm -rf ${pbase}/install
