{
  "route_table":
  {
    "${id}":
    {
      "default":[
        {
          "port": ${osx_port},
          "ip": "${rollsite_ip}"
        }
      ],
      "fateflow":[
        {
          "port": ${fateflow_port},
          "ip": "${fateflow_ip}"
        }
      ]
    }
  },
  "self_party":
  [
    "${id}"
  ]
}
