[mysqld]
port=${mysql_port}
basedir=${pbase}/${pname}/${mysql_path}/${role_name}-${mysql_version}
datadir=${pbase}/${pname}/data/mysql
socket=${pbase}/${pname}/${mysql_path}/${role_name}-${mysql_version}/run/mysql.sock
max_connections=10000
max_connect_errors=1000
character-set-server=utf8
default-storage-engine=INNODB
default_authentication_plugin=mysql_native_password
mysqlx=0
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
log-timestamps=SYSTEM
[mysql]
default-character-set=utf8
[client]
port=${mysql_port}
default-character-set=utf8
socket=${pbase}/${pname}/${mysql_path}/${role_name}-${mysql_version}/run/mysql.sock
[mysqld_safe]
log-error=${pbase}/${pname}/${mysql_path}/${role_name}-${mysql_version}/logs/mysqld.log
pid-file=${pbase}/${pname}/${mysql_path}/${role_name}-${mysql_version}/run/mysqld.pid
