INSERT INTO node (ip, port, type, status) values ("${proxy_ip}", "${proxy_port}", 'PROXY', 'HEALTHY');
INSERT INTO node (ip, port, type, status) values ("${roll_ip}", "${roll_port}", 'ROLL', 'HEALTHY');
INSERT INTO node (ip, port, type, status) values ("{{ip}}", "{{host['egg']['port']}}", 'EGG', 'HEALTHY');
INSERT INTO node (ip, port, type, status) values ("{{ip}}", "{{host['egg']['storagePort']}}", 'STORAGE', 'HEALTHY');
CREATE USER ${mysql_user}@'%' IDENTIFIED BY "${mysql_pass}";
GRANT ALL ON eggroll_meta.* TO ${host['mysql']['dbuser']}}@'%';
CREATE DATABASE IF NOT EXISTS {{host['fate_flow']['dbname']}};
GRANT ALL ON {{host['fate_flow']['dbname']}}.* TO {{host['mysql']['dbuser']}}@'%';
CREATE DATABASE IF NOT EXISTS {{host['fateboard']['dbname']}};
GRANT ALL ON {{host['fateboard']['dbname']}}.* TO {{host['mysql']['dbuser']}}@'%';
